@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<main>
    <section class="news__single">
        <main>
            <h2>Oops! Looks like one of our monkeys chewed through cable.</h2>
            <p>The seems to be no content available at the moment.</p>
        </main>
    </section>
</main>