@mixin grid-breakpoint($prefix) {
    @for $i from 1 through $grid-columns {
        .col-#{$prefix}-#{$i} {
            position: relative;
            width: $i * (100% / $grid-columns);
            margin-left: 0;

            order: 0;
            flex: 0 0 $i * (100% / $grid-columns);
        }
    }
    .#{$prefix}-hidden {
        display: none;
    }
    @for $i from 1 through $grid-columns {
        .offset-#{$prefix}-#{$i} {
            margin-left: $i * (100% / $grid-columns);
        }
    }   
}
@mixin breakpoint($rule) {
    @if $rule == 'sm' {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $rule == 'md' {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $rule == 'lg' {
        @media (min-width: 1200px) {
            @content;
        }
    }
}