@mixin background($background) {
    background: $background;
    min-height: calc(100% - 60px); // Minus height of nav
    background-size: cover;
    background-position: center center;
    top: 0;
}


@mixin boxShadow($border) {
    border: $border;
    -webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.25);
}


@mixin button($bgcolor) {
    background-color: $bgcolor;
    width: 120px;
    height: 40px;
    color: #ffffff;
}


@mixin fpArticle($grid-row) {
    grid-row: $grid-row;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 450px;
    padding: 5px 10px 0px 10px;
}

// Breakpoint mixins
@mixin breakpoint($rule){
    @if $rule == 'tablet' {
        @media (min-width: $break_tablet) { @content ; }
    }
    @else if $rule == 'desktop' {
        @media (min-width: $break_desktop) { @content ; }
    }
}

// Grid mixin
@mixin grid($column-count, $prefix){
    @for $i from 1 through $column-count {
        .col-#{$prefix}-#{$i} {
            position: relative;
            display: initial;
            width: $i * (100% / $column-count);
            min-width: $i * (100% / $column-count);
            max-width: $i * (100% / $column-count);
            margin-left: 0;
        }
    }
    .#{$prefix}-hidden {
        display: none;
    }
    @for $i from 1 through $column-count {
        .offset-#{$prefix}-#{$i} {
            margin-left: $i * (100% / $column-count);
        }
    }
}
