
// Backgrounds for the front page
$bgImgHeaderLarge: (url(../../assets/images/headerBgLarge.jpg));
$bgImgHeaderMedium: (url(../../assets/images/headerBgMedium.jpg));
$bgImgHeaderSmall: (url(../../assets/images/headerBgSmall.jpg));


// Colors
$lightGreen: #97BE0D;
$lightGreenDarken: #86A519;
$darkGreen: #5B9744;
$purple: #A70076;
$red: #dc1f28;
$white: #ffffff;
$lightGrey: #F6F6F6;
$darkGrey: #323232;
$black: #000000;
$mapBackgroundColor: #fff;

// Fonts
$fontPrimary: serif;
$fontSecondary: sans-serif;
$fontHeadlines: sans-serif;